<!-- Menu abas modulos ativos -->
<div class="row">
    <section id="menu-abas-modulos" class="col-lg-12 col-md-12 col-sm-12">
        <div class="scroller scroller-left"><i class="icmn-arrow-left"></i></div>
        <div class="scroller scroller-right"><i class="icmn-arrow-right"></i></div>
        <div class="involucro-menu">
            <div class="lista-menu"></div>
        </div>
    </section>
</div>
