@{
    ViewData["Title"] = "Usuários";
    string[,] urlsend = new string[,]
    {
        { "Usuários", "Sistema_Usuario/usuario-aba","-1"},
        { "Grupo", "Sistema_Usuario/grupousuario-aba","0"},
        { "Usuário Aplicativo", "Sistema_Usuario/usuarioApp-aba","1"}
    };
}
@section scripts
{
    <script src="~/js/min/sistema/usuario.js"></script>
}

<partial name="menus/MenuAbasAtivos" />

<section class="page-content">
    <section class="page-content-inner">
        <partial name="menus/MenuUtilitarios" model='new MenuUtilitariosViewModel() { listaPermissoesMenuUtilitarios = new List<Retorno_Permissao_Grupo_Usuario>(), menuUtilitario = new string[,] { { "voltar", "Sistema_Usuario" } } }' />
    </section>
    <!-- Menu abas paginas internas -->
    <partial name="menus/MenuAbaspaginas" model='urlsend' />
    <!-- Fim Menu abas paginas internas -->
    <section class="page-content-inner">
        <section class="panel">
            <div class="panel-body">
                <div>
                    <div class="tab-content padding-vertical-20">
                        @for (int i = 0; i < urlsend.GetLength(0); i++)
                        {
                            <div class="tab-pane" id="secao-@i" role="tabpanel" aria-expanded="false"></div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="page-content-inner lista-abas inativo">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="lista-abas" class="table table-hover nowrap" cellspacing="0" style="width:100%;"></table>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>