@{
    ViewData["Title"] = "Acesso negado";
}

<section class="page-content">
    <section class="page-content-inner lista-abas">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 height-500">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4 center text-center padding-top-130">
                                <span class="icmn-lock2 font-size-80 text-danger"></span>
                                <h1 class="padding-top-20 color-secondary">@ViewData["Title"].ToString().ToUpper()</h1>
                                <p class="font-size-16">Você não tem acesso a esta funcionalidade, verifique com administrador do sistema.</p>
                                <a href="~/" target="_self" class="btn btn-default btn-info">VOLTAR PARA PÁGINA INICIAL</a>
                            </div>
                        </div>                            
                     </div>
                </div>
            </div>
        </section>
    </section>
</section>