<div class="panel">
    <div class="panel-body" id="topo-pesquisa-interna">
        <form class="form-inline">
            <div class="form-group">
                <label for="busca-interna">Pesquisar</label>
                <input type="search" class="form-control" id="busca-interna" placeholder="Insira aqui o que deseja pesquisar">
            </div>
            <div class="form-group">
                <label for="busca-interna-2">por</label>
                <select class="selectpicker" data-live-search="true" data-width="250px" data-size="7" id="colunas-grid">
                    <option value="">carregando aguarde...</option>                  
                </select>
            </div>
            <button type="button" class="btn btn-icon btn-success" id="bt-busca-lista">BUSCAR<i class="icmn-search" aria-hidden="true"></i></button>
        </form>
    </div>
</div>